<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Pet detail</div>
                    <div class="panel-body">
                    <p v-if="prematureRechargeMessage" class="bg-danger" style="padding: 15px">
                        You can't do it right now. Pet can eat every 5 minute,sleep every 10 minute,care every 5 minute.
                    </p>
                        <div class="col-md-6">
                            <img :src="linkFromType" alt="omfg" class="pet-image">
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item">Feed level
                                <span v-bind:class="{
                                    'label':true,'my-label':true,'label-success': pet.hunger.value >= 75,
                                    'label-primary':75>= pet.hunger.value,'label-warning':50>=pet.hunger.value,
                                    'label-danger':25>= pet.hunger.value}"
                                >{{ pet.hunger.value }}</span>
                                <p>
                                    <button class="btn btn-success" @click="updatePet(pet.id,pet.hunger.need_id)">
                                        Feed
                                    </button>
                                </p>
                                </li>
                                <li class="list-group-item">Sleep level
                                 <span v-bind:class="{'label':true,'my-label':true,
                                     'label-success': pet.sleep.value >= 75,'label-primary':75>= pet.sleep.value,
                                     'label-warning':50>=pet.sleep.value,'label-danger':25>= pet.sleep.value}">
                                     {{ pet.sleep.value }}
                                 </span>
                                 <p>
                                     <button class="btn btn-success" @click="updatePet(pet.id,pet.sleep.need_id)">
                                         Sleep
                                     </button>
                                 </p>
                                </li> 
                                <li class="list-group-item">Care level
                                <span v-bind:class="{'label':true,'my-label':true,'label-success': pet.care.value >= 75,
                                    'label-primary':75>= pet.care.value,'label-warning':50>=pet.care.value,
                                    'label-danger':25>= pet.care.value}">{{ pet.care.value }}</span>
                                <p>
                                    <button class="btn btn-success" @click="updatePet(pet.id,pet.care.need_id)">
                                        Care
                                    </button>
                                </p>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import api from '../api';

    export default {
        props:['pet', 'prematureRecharge'],
        data:function(){
            return {
                prematureRechargeMessage: false
            }
        },
        watch: {
            'prematureRecharge': function ()
            {
                this.prematureRechargeMessage = true;
                let _self = this;
                setTimeout(function(){_self.prematureRechargeMessage = false;}, 7000)
            }
        },
        computed:{
            linkFromType(){
                return `/img/${this.pet.type}-image.jpg`;
            }
        },
        methods:{
            updatePet(id,type){
                   api.updatePet({user_pet_id: id,need_id: type});
            }
        }
    }
</script>