.pet-image {
    width:300px;
}

.my-label {
    float:right;
    font-size: 24px;
    font-family: sans-serif;
}

.pets-list img {
    max-width:150px;
    cursor:pointer;
}

.died-pet {
    opacity: 0.5;
}